@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <a href="https://www.paypal.com/paypalme/HubbsMoney">
        <img src="~/images/PayPal-Logo.png" class="img-fluid w-50 h-50" alt="Paypal logo">
    </a>
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            I am a masters student who is graduating (May 2021) who got into the stock market in Nov 2020. 
            I created this site to help speed up a portion of my research on a stock and I figured maybe this could help others as well.
            Please don't feel the need to donate, but if this site helps you at all and you want to buy me some taco bell, go ahead :)
        </p>
    </blockquote>
</div>