@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<blockquote class="blockquote text-center">
    <p class="mb-0">
        this site is not for investment advice. this is purely for research purposes only. your decisions regarding your investments are YOURS. 
    </p>
</blockquote>