@model SearchModel
@model
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter a ticker: </h1>

    <form asp-controller="Home" asp-action="Search" method="post">
        <input id="tickerinput" placeholder="TSLA" maxlength="6" pattern="[A-Z]+" type="text" name="Ticker"/>
    </form>
    
    <p>@ViewData["Searched"]</p>



</div>