@model SearchModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter a Ticker: </h1>
    
    
        <form asp-controller="Home" asp-action="Search" method="get">
            <div class="row">
                <div class="form-group d-flex justify-content-center col-md-8 mx-auto">
                    <input id="searchInput" class="form-control w-25" placeholder=@(ViewData["Searched"] != null ? ViewData["Searched"] : "TSLA")
                           maxlength="6" pattern="[a-zA-Z]+" type="text" name="ticker"/>
                    <button type="submit" class="btn btn-dark button-round ml-1" >Search</button>
                </div>
            </div>
        </form>
    
    



</div>