@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<blockquote class="blockquote text-center">
    <p class="mb-0">
        the only thing this site stores is the subreddits you have added (in cookies). no other information is collected :)
    </p>
</blockquote>
